<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.social.github %}
          <li>
            <a href="https://github.com/{{ site.social.github }}">
              <i class="svg-icon github"></i>
            </a>
          </li>
          {% endif %}
          {% if site.social.twitter %}
          <li>
            <a href="https://twitter.com/{{ site.social.twitter }}">
            <i class="svg-icon twitter"></i>
            </a>
          </li>
          {% endif %}
          {% if site.social.linkedin %}
          <a href="https://linkedin.com/in/{{ site.social.linkedin }}">
            <i class="svg-icon linkedin"></i>
          </a>
          {% endif %}
          {% if site.social.stackoverflow %}
          <a href="https://stackoverflow.com/{{ site.social.stackoverflow }}">
            <i class="svg-icon stackoverflow"></i>
          </a>
          {% endif %}
          {% if site.social.rss %}
          <a href="{{ site.baseurl }}/feed.xml">
            <i class="svg-icon rss"></i>
          </a>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
